@model IEnumerable<AllDishesOrder>

<hr />

<div class="row justify-content-center">
    @foreach (var dish in Model)
    {
        <div class="col-md-4"> 
            <div class="card mb-3">
                 @if (!string.IsNullOrEmpty(dish.Image))
                {
                    <img class="card-img-top" src="@dish.Image" alt="Dish Image" style="height: 415px; width: 415px; object-fit: cover;">
                }
                <div class="card-body text-center">
                    <h4>@dish.Name</h4>
                    <p>@dish.Description</p>
                    <h6>Price: <b>@dish.Price.ToString("C2")</b></h6>
                    @if (!string.IsNullOrEmpty(dish.Ingredients))
                    {
                        <h6>Ingredients:</h6>
                        <p>@dish.Ingredients</p>
                    }
                    <br />
                    <form asp-controller="Order" asp-action="AddDish" method="post">
                        <input type="hidden" name="dishId" value="@dish.Id" />
                        <input type="hidden" name="orderId" value="@dish.OrderId" />
                        <div class="mb-3">
                            <label for="comment" class="form-label">Comment (optional)</label>
                            <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success">Add Dish</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
