@model List<AllOrdersViewModel>

@{
    ViewBag.Title = "All Orders";
}

<h2>All Orders</h2>
<hr />


@if (Model.Any())
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Order Summary</h5>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Table</th>
                            <th scope="col">Details</th>
                            <th scope="col">Cancel</th>
                            <th scope="col">Pay</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model)
                        {
                            <tr>
                                <td style="font-size: 20px;">@order.TableNumber</td>
                                <td>
                                    <a href="@Url.Action("Details", "Order", new { orderId = order.OrderId })" class="btn btn-primary btn-lg">Details</a>
                                </td>
                                <td>
                                    <form asp-action="RemoveOrder" method="post">
                                        <input type="hidden" name="orderId" value="@order.OrderId" />
                                        <input type="hidden" name="tableId" value="@order.TableId" />
                                        <button type="submit" class="btn btn-danger btn-lg">Cancel</button>
                                    </form>
                                </td>
                                <td>
    <form asp-controller="Billing" asp-action="CalculateBill" method="get">
        <input type="hidden" name="orderId" value="@order.OrderId" />
        <input type="hidden" name="tableId" value="@order.TableId" />
        <button type="submit" class="btn btn-success btn-lg">Pay</button>
    </form>
</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <p>No orders found.</p>
}