@model OrderViewModel
@inject IMenuService menuService;

<div class="container">
    <h2>Order Details</h2>
    <div>
        <dl class="dl-horizontal">
            <dt>Total Amount</dt>
            <dd>@Model.TotalAmount.ToString("C")</dd>
            <dt>Table Number</dt>
            <dd>@Model.TableId</dd>
        </dl>
    </div>

    <h3>Ordered Dishes</h3>
    @if (Model.OrderDishes.Count == 0)
    {
        <p>No dishes ordered yet.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var orderDish in Model.OrderDishes)
                {
                    <tr>
                        <td>@orderDish.Dish.Name</td>
                        <td>@orderDish.Dish.Price.ToString("C")</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <a href="@Url.Action("AllDishesMenu", "Order", new { orderId = Model.OrderId })" class="btn btn-primary">Add Dish</a>
</div>

