@using WaiterApplication.Core.Models.ViewModels
@model List<TableViewModel>

@{
    ViewBag.Title = "All Tables";
}

<h2>All Tables</h2>
<hr />

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Capacity</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var table in Model)
            {
                <tr onclick="location.href='@Url.Action("TableDetails", "Table", new { tableId = @table.Id })';" style="cursor: pointer;">
                    <td>@table.Name</td>
                    <td>@table.Capacity</td>
                    <td>@(table.Status ? "Occupied" : "Available")</td>
                </tr>
            }
            
        </tbody>
    </table>
}
else
{
    <p>No tables found.</p>
}
