@using WaiterApplication.Core.Models.ViewModels
@model DishRemoveViewModel

@{
    ViewBag.Title = "Delete Dish";
}

<h2>@ViewBag.Title</h2>
<hr />

<div>
    <h4>Dish Details</h4>
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>@Model.Name</dd>
        <dt>Image</dt>
        <dd><img src="@Model.Image" alt="Dish Image" style="max-width: 200px;" /></dd>
        <dt>Price</dt>
        <dd>@Model.Price</dd>
    </dl>
</div>

<form asp-action="DeleteConfirmed" asp-route-id="@Model.Id" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="All">Back to List</a>
    </div>
</form>